* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: rgb(56, 56, 56);
}
.body-container {
  margin-left: 10%;
  margin-right: 10%;
}

/* menubar */
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9rem;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  box-shadow: 3px 3px 5px silver;
}

nav li:first-child {
  margin-right: auto;
  margin-left: 10px;
  color: silver;
}

nav li a {
  border-radius: 4rem;
  display: flex;
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
  color: silver;
}

nav li a:hover {
  background-color: #ffffff;
  color: #000000;
  transition: all 0.7s ease;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  color: black;
  width: 100%;
}

.menu-button {
  display: none;
}

/* header and search bar*/
header {
  display: flex;
  flex-direction: column;
  background: url(./assets/1x.webp) no-repeat center;
  background-size: cover;
  height: 15%;
}

header h1 {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: silver;
}

#search {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#searchbar {
}

/* image */
.image {
}

/* display information */
#display-info {
  display: grid;
  gap: 1.25rem;
}

/* set form-group as class for each element in the display info */
/* try: set display: grid; as a property of form-group, adjust gap in display-info  */
/* https://www.youtube.com/watch?v=JHregeIsjPQ - link to kevin powell video for reference */

/* footer */
.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: black;
  color: silver;
}

.footer p {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

@media (max-width: 800px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li a {
    font-size: 1.2rem;
    padding: 15px 20px;
  }

  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: flex;
    /* align-items: flex-end; */
  }

  .body-container {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
